<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.billjc.dao.ProjectMapper">
	  <resultMap id="BaseResultMap" type="com.billjc.model.Project">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="Project_No" jdbcType="VARCHAR" property="projectNo" />
    <result column="Project_Name" jdbcType="VARCHAR" property="projectName" />
    <result column="Project_Mgr_Work_ID" jdbcType="VARCHAR" property="projectMgrWorkId" />
    <result column="Project_Mgr_Name" jdbcType="VARCHAR" property="projectMgrName" />
    <result column="Project_Start_Date" jdbcType="TIMESTAMP" property="projectStartDate" />
    <result column="Project_End_Date" jdbcType="TIMESTAMP" property="projectEndDate" />
    <result column="Is_Finish" jdbcType="BIT" property="isFinish" />
    <result column="Pro_State" jdbcType="VARCHAR" property="proState" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, Project_No, Project_Name, Project_Mgr_Work_ID, Project_Mgr_Name, Project_Start_Date, 
    Project_End_Date, Is_Finish, Pro_State
  </sql>
	
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from Project
		where ID = #{id,jdbcType=VARCHAR}
	</select>

	<select id="selectByParams" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from Project
		where
		Project_Name LIKE '%${param1}%' AND
		Project_Mgr_Work_ID = #{param2}
	</select>

	<select id="selectByQueryCondition" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from Project
		where 
		Project_Start_Date IS NOT NULL
		AND Project_Start_Date > N'2017-2-1'
		AND
		(Project_Name LIKE '%${param1}%')
		<!-- OR
		(ProjectNewNo LIKE '%${param1}%')
		 -->
		ORDER BY Project_Start_Date DESC
	</select>
</mapper>