<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.billjc.dao.ProjectAuditMapper">
	<resultMap id="BaseResultMap" type="com.billjc.model.ProjectAudit">
		<id column="ID" jdbcType="CHAR" property="id" />
		<result column="Audit_Type_Key" jdbcType="VARCHAR" property="auditTypeKey" />
		<result column="Audit_State" jdbcType="INTEGER" property="auditState" />
		<result column="Audit_Work_Id" jdbcType="VARCHAR" property="auditWorkId" />
		<result column="Audit_Content" jdbcType="VARCHAR" property="auditContent" />
		<result column="Audit_Create_Date" jdbcType="TIMESTAMP" property="auditCreateDate" />
		<result column="Audit_Update_Date" jdbcType="TIMESTAMP" property="auditUpdateDate" />
		<result column="Project_Id" jdbcType="VARCHAR" property="projectId" />
		<result column="Delete_Flag" jdbcType="INTEGER" property="deleteFlag" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, Audit_Type_Key, Audit_State, Audit_Work_Id, Audit_Content,
		Audit_Create_Date,Audit_Update_Date,
		Project_Id,Delete_Flag
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from ProjectAudit
		where (Delete_Flag != 1 OR Delete_Flag IS NULL)
		AND ID = #{id,jdbcType=CHAR}
	</select>
	<select id="selectByAuditWorkId" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from ProjectAudit
		where (Delete_Flag != 1 OR Delete_Flag IS NULL)
		AND Audit_Work_Id =
		#{auditWorkId,jdbcType=CHAR}
	</select>
	<select id="selectByProjectId" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from ProjectAudit
		where (Delete_Flag != 1 OR Delete_Flag IS NULL)
		AND Project_Id = #{projectId,jdbcType=CHAR}
		ORDER BY Audit_Type_Key, Audit_Work_Id;
	</select>
	<select id="selectByAuditTypeKeys" parameterType="java.util.List"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from ProjectAudit
		where (Delete_Flag != 1 OR Delete_Flag IS NULL)
		AND Audit_Type_Key in
		<foreach item="item" index="index" collection="list" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</select>
	<resultMap id="AuditTypeKeyResultMap" type="java.lang.String">
		<result column="Audit_Type_Key" property="auditTypeKey"/>
	</resultMap>
	<select id="selectAuditTypeKeysByParams" parameterType="java.lang.String"
		resultMap="AuditTypeKeyResultMap">
		SELECT
		pa.Audit_Type_Key Audit_Type_Key		
		FROM
		ProjectAudit pa,
		[DataDict] d
		WHERE
		(pa.Delete_Flag != 1 OR pa.Delete_Flag IS NULL)
		AND pa.Project_Id = '${param1}'
		AND pa.Audit_Work_Id =
		'${param2}'
		AND pa.Audit_Type_Key = d.KeyName
		AND d.Type = '${param3}';
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		update
		ProjectAudit
		set Delete_Flag = 1
		where ID = #{id,jdbcType=CHAR}
	</delete>
	<insert id="insert" parameterType="com.billjc.model.ProjectAudit">
		insert into ProjectAudit
		(ID, Audit_Type_Key, Audit_State,
		Audit_Work_Id, Audit_Content, Audit_Create_Date,
		Project_Id)
		values (#{id,jdbcType=CHAR}, #{auditTypeKey,jdbcType=VARCHAR},
		#{auditState,jdbcType=INTEGER},
		#{auditWorkId,jdbcType=VARCHAR},
		#{auditContent,jdbcType=VARCHAR}, #{auditCreateDate,jdbcType=TIMESTAMP},
		#{projectId,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.billjc.model.ProjectAudit">
		insert into ProjectAudit
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="auditTypeKey != null">
				Audit_Type_Key,
			</if>
			<if test="auditState != null">
				Audit_State,
			</if>
			<if test="auditWorkId != null">
				Audit_Work_Id,
			</if>
			<if test="auditContent != null">
				Audit_Content,
			</if>
			<if test="auditCreateDate != null">
				Audit_Create_Date,
			</if>
			<if test="projectId != null">
				Project_Id,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=CHAR},
			</if>
			<if test="auditTypeKey != null">
				#{auditTypeKey,jdbcType=VARCHAR},
			</if>
			<if test="auditState != null">
				#{auditState,jdbcType=INTEGER},
			</if>
			<if test="auditWorkId != null">
				#{auditWorkId,jdbcType=VARCHAR},
			</if>
			<if test="auditContent != null">
				#{auditContent,jdbcType=VARCHAR},
			</if>
			<if test="auditCreateDate != null">
				#{auditCreateDate,jdbcType=TIMESTAMP},
			</if>
			<if test="projectId != null">
				#{projectId,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.billjc.model.ProjectAudit">
		update ProjectAudit
		<set>
			<if test="auditTypeKey != null">
				Audit_Type_Key = #{auditTypeKey,jdbcType=VARCHAR},
			</if>
			<if test="auditState != null">
				Audit_State = #{auditState,jdbcType=INTEGER},
			</if>
			<if test="auditWorkId != null">
				Audit_Work_Id = #{auditWorkId,jdbcType=VARCHAR},
			</if>
			<if test="auditContent != null">
				Audit_Content = #{auditContent,jdbcType=VARCHAR},
			</if>
			<if test="auditCreateDate != null">
				Audit_Create_Date = #{auditCreateDate,jdbcType=TIMESTAMP},
			</if>
			<if test="auditUpdateDate != null">
				Audit_Update_Date = #{auditUpdateDate,jdbcType=TIMESTAMP},
			</if>
			<if test="projectId != null">
				Project_Id = #{projectId,jdbcType=VARCHAR},
			</if>
			<if test="deleteFlag != null">
				Delete_Flag = #{deleteFlag,jdbcType=INTEGER},
			</if>
		</set>
		where ID = #{id,jdbcType=CHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.billjc.model.ProjectAudit">
		update
		ProjectAudit
		set Audit_Type_Key = #{auditTypeKey,jdbcType=VARCHAR},
		Audit_State = #{auditState,jdbcType=INTEGER},
		Audit_Work_Id =
		#{auditWorkId,jdbcType=VARCHAR},
		Audit_Content =
		#{auditContent,jdbcType=VARCHAR},
		Audit_Create_Date =
		#{auditCreateDate,jdbcType=TIMESTAMP},
		Audit_Update_Date =
		#{auditUpdateDate,jdbcType=TIMESTAMP},
		Project_Id =
		#{projectId,jdbcType=VARCHAR},
		Delete_Flag = #{deleteFlag,jdbcType=INTEGER},
		where ID = #{id,jdbcType=CHAR}
	</update>
</mapper>