<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.billjc.dao.UserMapper">
	<resultMap id="BaseResultMap" type="com.billjc.model.User">
		<id column="ID" jdbcType="VARCHAR" property="id" />
		<result column="UserName" jdbcType="VARCHAR" property="username" />
		<result column="WorkId" jdbcType="VARCHAR" property="workId" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, UserName, WorkId
	</sql>

	<select id="selectByWorkId" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from [User]
		where WorkId = #{workId,jdbcType=VARCHAR}
	</select>

	<select id="selectByUsername" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from [User]
		where Username LIKE
		'%${_parameter}%'
	</select>

	<select id="selectByParams" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from [User]
		<where>
			<choose>
				<when test="_parameter!=null and _parameter!=''">
					and ( WorkId LIKE '%${_parameter}%' or Username LIKE
					'%${_parameter}%')
				</when>
			</choose>
		</where>
	</select>

	<select id="findAll" resultMap="BaseResultMap">
		SELECT * FROM [User] ORDER BY
		[user].[id] DESC
	</select>

</mapper>